**/__pycache__
slurm_logs

data/datasets/
data/packed/
.venv/

od_sobieskiego/
checkpoints/*

outputs/**/*
!outputs/od_sobieskiego/
!outputs/od_sobieskiego/wandb/
!outputs/od_sobieskiego/wandb/checkpoints/
!outputs/od_sobieskiego/wandb/checkpoints/README.md
!outputs/od_sobieskiego/.hydra/
!outputs/od_sobieskiego/.hydra/*

outputs/od_sobieskiego/wandb/checkpoints/checkpoint_*.ckpt
